<h1>Eat da Burger!</h1>


<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devour=true}}
  {{/unless}}
  {{/each}}
</ul>


<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="burg" name="burger_name">
  </div>


  <button type="submit">Submit</button>
  <p>Enter a burger that you'd like to eat and click the "Submit" button!</p>
</form>